[user]
    name =
    email =
[alias]
    st = status
    co = checkout
    br = branch
    brr = branch -r
    fe = fetch -p
    up = rebase
    ci = commit
    cim = commit -m
    lone = log --oneline
    df = diff --color
    dfc = diff --color-words
    confl = config -l
[core]
    editor = vim
    whitespace = cr-at-eol
[color]
    ui = true
