format = "$directory$git_branch$git_status$time$character"
add_newline = false

[git_branch]
format = "[$symbol$branch]($style) "

[time]
disabled = false
format = "[$time]($style) "
time_format = "[%H:%M]"
